img {
    max-width: 100%;
    height: auto;
  }

  figure {
    margin: 0;
  }

  figcaption {
    font-size: 0,9rem;
    color: black;
    text-align: center;
  }

  .banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


